* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.page-wrapper {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  background-color: #e5e5e5;
  height: auto;
}
.header h1 {
  font-size: 100px;
  color: #f7bcc6;
  padding: 50px 10px 30px 10px;
}
.input-desigen {
  position: relative;
}
.input-desigen button {
  position: absolute;
  top: 20px;
  left: 215px;
  color: gainsboro;
  font-size: 20px;
  background-color: white;
  display: none;
  outline: none;
}
.text-input {
  width: 500px;
  height: 60px;
  padding: 10px 10px 10px 60px;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  border-bottom: 1px solid gainsboro;
}
.list-design {
  padding: 15px 15px;
}
#note-list {
  list-style: none;
  width: 500px;
  margin: 0 auto;
  text-align: justify;
}
.checboox-edit {
  width: 20px;
  height: 21px;
  vertical-align: middle;
  margin-right: 25px;
}
.text-input:hover .cross-button {
  display: block;
}

.cross-button {
  display: none;
  width: 30px;
  height: 30px;
  float: right;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(222, 220, 220, 0.6);
  border-radius: 50%;
}
/* #editTextWorde {
  font-size: 23px;
} */
.todo-footer-section {
  display: none;
}
.todo-footer {
  display: none;
  width: 500px;
  height: 45px;
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: start;
}

.todo-footer button {
  width: auto;
  height: 25px;
  font-size: 15px;
  color: #c1b8b5;
  background-color: white;
  padding: 0px 8px;
  outline: none;
}
.items {
  margin-right: 35px;
}
#clear-btn {
  display: none;
}
.about-todo {
  color: #969393;
  padding: 30px 0 60px 0;
}
.checkcss {
  opacity: 0.2;
  text-decoration: line-through;
}
.active,
.btn:hover {
  border: 1px solid goldenrod;
}
.getClearBtnCss {
  display: inline-block;
  border: 1px solid goldenrod;
}
#ancher-complet-all {
  display: none;
}
.complet-all-clickbtn {
  color: grey;
  border: 1px solid #daa520;
  padding: 3px;
  font-size: 14px;
}
.edit-input-design{
  width: 350px;
  height: 35px;
  font-size: 18px;
  color: royalblue;
  border: 1px solid gray;
  padding: 0 20px;
}